/* Empty. Add your own CSS if you like */

/* Webfont: Lato-Medium */@font-face {
    font-family: 'LatoMedium';
    src: url('../fonts/Lato-Medium.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-Medium.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-Medium.ttf') format('truetype'); 
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

body, h1, h2, h3, h4, h5 ,p {
	font-family: "LatoMedium", Georgia;
}

.nameBadge {
	  position: absolute;
	  right: 0;
	  top: 0;
	  background: rgb(68, 116, 197);
	  color: #fff !important;
	  border-top-left-radius: 3px;
	  border-bottom-left-radius: 3px;
	  font-size: 12px !important;
	  padding: 1px 6px;
}