<ion-view view-title="Add Photo">
  <ion-content>
    <ion-list>
      <!-- <p>{{Data}}</p>
      <div class="list card">

      <div class="item item-avatar">
          <img src="{{Photo.src}}">
          <h2>{{Photo.break}}</h2>
          <p>{{Photo.country}}</p>
        </div>

        <div class="item item-image">
          <img src="{{Photo.src}}">
        </div>

        <button class="button button-full button-positive">
          Send
        </button>

      </div> -->

      <button class="button button-block button-positive" ng-click="TakePhoto()">
        Capture Photo
      </button>

    </ion-list>
  </ion-content>
</ion-view>
